// Variables

$columns: 12; /* 12 Column Grid */
$siteWidth: 960px;
$minSiteWidth: 768px; 
$maxSiteWidth: 100%; 
$gutter: 15px;
$gridMargin: 2.127663;

@mixin generateColumnWidth ($i){	
	width: 1% * (100 - ($columns/$i - 1) * $gridMargin)/$columns * $i;	
}


.container{
	padding: 0 $gutter;
}

.row { 	
	max-width: $siteWidth; 
	min-width: $minSiteWidth; 
	width: $maxSiteWidth; 
	margin: 0 auto; 		
}

/* Nested Rows */

.row .row { 
	width: auto; 
	max-width: none; 
	min-width: 0; 	
}

.row:before, .row:after { 
	content: ""; 
	display: table; 
	clear: both;
}

/* IE 6 & 7 */

.row { *zoom: 1; }

.row-pad{
	padding-bottom:$gutter;
}

/* Columns */

.columns { 
	float: left; 
	min-height: 1px; 
	margin-left: 1% * $gridMargin;
	position: relative; 
}

.columns:first-child{ 
	margin-left: 0px; 
}

.one{
	@include generateColumnWidth(1);	
}

.two{
	@include generateColumnWidth(2);
}

.three{
	@include generateColumnWidth(3);
}

.four{
	@include generateColumnWidth(4);
}

.five{
	@include generateColumnWidth(5);
}

.six{
	@include generateColumnWidth(6);
}

.seven{
	@include generateColumnWidth(7);
}

.eight{
	@include generateColumnWidth(8);
}

.nine{
	@include generateColumnWidth(9);
}

.ten{
	@include generateColumnWidth(10);
}

.eleven{
	@include generateColumnWidth(11);
}

.twelve{
	@include generateColumnWidth(12);
}


/* Content */

img, object, embed { max-width: 100%; height: auto; }

/* Mobile */

@media handheld, only screen and (max-width: 767px) {
	
	.row {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;		
	}
	
	.columns {
		width: auto;
		float: none;
		margin-left: 0;
		margin-right: 0;
		padding-bottom:$gutter;		
	}
}