// Variables

$columns: 12; /* 12 Column Grid */
$site-width: 960px;
$min-site-width: 768px;
$max-site-width: 100%;
$column-spacing: 20px;
$grid-margin: 2.127663;

@mixin generateColumnWidth ($i){
	width: 1% * (100 - ($columns/$i - 1) * $grid-margin)/$columns * $i;
}

@function convert-number-to-word($num) {
  $count:1;
  @each $word in one,two,three,four,five,six,seven,eight,nine,ten,eleven,
    twelve,thirteen,fourteen,fifteen,sixteen,seventeen,eighteen,nineteen,
    twenty,twentyone,twentytwo,twentythree,twentyfour{
    @if ($count == $num) { @return $word; }
    $count: $count + 1;
  }
  @return "invalid";
}

.container{
	padding: 0 $column-spacing;
}

.row {
	max-width: $site-width;
	min-width: $min-site-width;
	width: $max-site-width;
	margin: 0 auto;
}

/* Nested Rows */

.row .row {
	width: auto;
	max-width: none;
	min-width: 0;
}

.row:before, .row:after {
	content: "";
	display: table;
	clear: both;
}

/* IE 6 & 7 */

.row { *zoom: 1; }

.row-pad{
	padding-bottom:$column-spacing;
}

/* Columns */

.columns {
	float: left;
	min-height: 1px;
	margin-left: 1% * $grid-margin;
	position: relative;
}

.columns:first-child{
	margin-left: 0px;
}

@for $i from 1 through $columns{
  .#{convert-number-to-word($i)}, .row .#{convert-number-to-word($i)}{
    @include generateColumnWidth($i);
  }
}

/* Content */

img, object, embed { max-width: 100%; height: auto; }

/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	.row {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.columns, .row .columns {
		width: auto;
		float: none;
		margin-left: 0;
		margin-right: 0;
		padding-bottom:$column-spacing;
	}
}